<a href="https://colab.research.google.com/github/Manish-k723/100-days-of-ML/blob/main/Date_and_Time_Day_34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [14]:
message_df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day34-handling-date-and-time/messages.csv',parse_dates = ['date'])
orders_df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day34-handling-date-and-time/orders.csv',parse_dates = ['date'])

In [15]:
message_df

                   date                                                msg
0   2013-12-15 00:50:00                           ищу на сегодня мужика 37
1   2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2   2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3   2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4   2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше
..                  ...                                                ...
995 2012-03-16 00:50:00     ПАРЕНЬ СДЕЛАЕТ  МАССАЖ ЖЕНЩИНАМ -066-877-32-44
996 2014-01-23 23:14:00            сельский п 23 ищу девушку для отношений
997 2012-10-15 23:37:00  Д+Д ДЛЯ серьезных отношений. Мой номер 093-156...
998 2012-06-21 23:34:00  7 ДНЕПР М.34 ПОЗ.С Д/Ж ДЛЯ ВСТРЕЧ.Т.098 809 15 14
999 2014-06-19 23:25:00          Парень поласкает девушке...  т.0662035584

[1000 rows x 2 columns]

In [16]:
orders_df.head()

        date  product_id  city_id  orders
0 2019-12-10        5628       25       3
1 2018-08-15        3646       14     157
2 2018-10-23        1859       25       1
3 2019-08-17        7292       25       1
4 2019-01-06        4344       25       3

In [17]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [18]:
message_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

Let's firstly work on Orders_df.

1) Extraxt year

In [20]:
orders_df['year'] = orders_df['date'].dt.year

Extract Month

In [21]:
orders_df['month'] = orders_df['date'].dt.month

In [24]:
orders_df['month_name'] = orders_df['date'].dt.month_name()

Extract Date

In [26]:
orders_df['day'] = orders_df['date'].dt.day

To know about the date was which week of day

In [29]:
orders_df['day-of-week'] = orders_df['date'].dt.dayofweek

In [30]:
orders_df.head()

,date,product_id,city_id,orders,year,month,month_name,day,day-of-week
0,2019-12-10,5628,25,3,2019,12,December,10,1
1,2018-08-15,3646,14,157,2018,8,August,15,2
2,2018-10-23,1859,25,1,2018,10,October,23,1
3,2019-08-17,7292,25,1,2019,8,August,17,5
4,2019-01-06,4344,25,3,2019,1,January,6,6

If we want name of the day.

In [34]:
orders_df['day_name'] = orders_df['date'].dt.day_name()

To check whether the was Weekend or not?

In [35]:
orders_df['is_weekend'] = np.where(orders_df['day_name'].isin(['Sunday','Saturday']),1,0)

If we want to extract week of the year then:

In [39]:
orders_df['week-of-year'] = orders_df['date'].dt.isocalendar().week

In [41]:
orders_df['quarter'] = orders_df['date'].dt.quarter

In [42]:
orders_df

,date,product_id,city_id,orders,year,month,month_name,day,day-of-week,day_name,is_weekend,week-of-year,quarter
0,2019-12-10,5628,25,3,2019,12,December,10,1,Tuesday,0,50,4
1,2018-08-15,3646,14,157,2018,8,August,15,2,Wednesday,0,33,3
2,2018-10-23,1859,25,1,2018,10,October,23,1,Tuesday,0,43,4
3,2019-08-17,7292,25,1,2019,8,August,17,5,Saturday,1,33,3
4,2019-01-06,4344,25,3,2019,1,January,6,6,Sunday,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2018-10-08,255,13,1,2018,10,October,8,0,Monday,0,41,4
996,2018-12-06,5521,7,1,2018,12,December,6,3,Thursday,0,49,4
997,2019-05-07,487,26,14,2019,5,May,7,1,Tuesday,0,19,2
998,2019-03-03,1503,21,2,2019,3,March,3,6,Sunday,1,9,1
999,2019-10-15,6371,7,22,2019,10,October,15,1,Tuesday,0,42,4

To extract semester

In [45]:
orders_df['sem'] = np.where(orders_df['quarter'].isin([1,2]),1,2)

In [46]:
orders_df

,date,product_id,city_id,orders,year,month,month_name,day,day-of-week,day_name,is_weekend,week-of-year,quarter,sem
0,2019-12-10,5628,25,3,2019,12,December,10,1,Tuesday,0,50,4,2
1,2018-08-15,3646,14,157,2018,8,August,15,2,Wednesday,0,33,3,2
2,2018-10-23,1859,25,1,2018,10,October,23,1,Tuesday,0,43,4,2
3,2019-08-17,7292,25,1,2019,8,August,17,5,Saturday,1,33,3,2
4,2019-01-06,4344,25,3,2019,1,January,6,6,Sunday,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2018-10-08,255,13,1,2018,10,October,8,0,Monday,0,41,4,2
996,2018-12-06,5521,7,1,2018,12,December,6,3,Thursday,0,49,4,2
997,2019-05-07,487,26,14,2019,5,May,7,1,Tuesday,0,19,2,1
998,2019-03-03,1503,21,2,2019,3,March,3,6,Sunday,1,9,1,1
999,2019-10-15,6371,7,22,2019,10,October,15,1,Tuesday,0,42,4,2

Time elapsed between two dates

In [47]:
import datetime

today = datetime.datetime.today()

today

datetime.datetime(2023, 4, 9, 13, 2, 55, 400027)

TO extract exact difference between two dates

In [48]:
today -  orders_df['date']

0     1216 days 13:02:55.400027
1     1698 days 13:02:55.400027
2     1629 days 13:02:55.400027
3     1331 days 13:02:55.400027
4     1554 days 13:02:55.400027
                 ...
995   1644 days 13:02:55.400027
996   1585 days 13:02:55.400027
997   1433 days 13:02:55.400027
998   1498 days 13:02:55.400027
999   1272 days 13:02:55.400027
Name: date, Length: 1000, dtype: timedelta64[ns]

To extract number of days between two days

In [51]:
(today -  orders_df['date']).dt.days

0      1216
1      1698
2      1629
3      1331
4      1554
       ...
995    1644
996    1585
997    1433
998    1498
999    1272
Name: date, Length: 1000, dtype: int64

To extract number of months between two days

In [53]:
np.round((today -  orders_df['date'])/np.timedelta64(1,'M'),0)

0      40.0
1      56.0
2      54.0
3      44.0
4      51.0
       ...
995    54.0
996    52.0
997    47.0
998    49.0
999    42.0
Name: date, Length: 1000, dtype: float64

We cannot manupulate `M` in `np.timedelta64(1,'M'),0)` to extract different date-time parameters

In [54]:
message_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [57]:
# for i in ['hour','minute','second']:
message_df['hour'] = message_df['date'].dt.hour
message_df['minute'] = message_df['date'].dt.minute
message_df['second'] = message_df['date'].dt.second

In [58]:
today- message_df['date']

0     3402 days 12:12:55.400027
1     3266 days 13:22:55.400027
2     3752 days 12:41:55.400027
3     3054 days 12:31:55.400027
4     3451 days 13:51:55.400027
                 ...
995   4041 days 12:12:55.400027
996   3362 days 13:48:55.400027
997   3827 days 13:25:55.400027
998   3943 days 13:28:55.400027
999   3215 days 13:37:55.400027
Name: date, Length: 1000, dtype: timedelta64[ns]

In [60]:
message_df['date'].dt.year

0      2013
1      2014
2      2012
3      2014
4      2013
       ...
995    2012
996    2014
997    2012
998    2012
999    2014
Name: date, Length: 1000, dtype: int64