<a href="https://colab.research.google.com/github/Manish-k723/100-days-of-ML/blob/main/Day_39_KNNImputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Manish-k723/100-days-of-ML/main/train.csv',usecols = ['Age','Fare','Pclass','Survived'])

In [4]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [5]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test = tts(df.drop('Survived',axis = 1),df['Survived'],test_size = 0.2, random_state = 42)

In [6]:
from sklearn.impute import KNNImputer

In [7]:
knn= KNNImputer()

In [8]:
x_train_trans = knn.fit_transform(x_train)
x_test_trans = knn.transform(x_test)

In [9]:
x_train_trf = pd.DataFrame(x_train_trans, columns = x_train.columns)

In [10]:
x_train

     Pclass   Age      Fare
331       1  45.5   28.5000
733       2  23.0   13.0000
382       3  32.0    7.9250
704       3  26.0    7.8542
813       3   6.0   31.2750
..      ...   ...       ...
106       3  21.0    7.6500
270       1   NaN   31.0000
860       3  41.0   14.1083
435       1  14.0  120.0000
102       1  21.0   77.2875

[712 rows x 3 columns]

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [12]:
clf = LogisticRegression()
clf.fit(x_train_trans,y_train)
print('Accuracy with 5(default) neighbours is {}'.format(accuracy_score(y_test, clf.predict(x_test_trans))))

Accuracy with 5(default) neighbours is 0.7430167597765364

In [27]:
def best_n(n):
  knn = KNNImputer(n_neighbors = n, add_indicator = True)
  x_train_trans = knn.fit_transform(x_train)
  x_test_trans = knn.transform(x_test)
  clf = LogisticRegression()
  clf.fit(x_train_trans,y_train)
  print('Accuracy with {} neighbours is {}'.format(n,accuracy_score(y_test, clf.predict(x_test_trans))))

In [28]:
for i in range(1,10):
  best_n(i)

Accuracy with 1 neighbours is 0.7318435754189944
Accuracy with 2 neighbours is 0.7541899441340782
Accuracy with 3 neighbours is 0.7541899441340782
Accuracy with 4 neighbours is 0.7430167597765364
Accuracy with 5 neighbours is 0.7541899441340782
Accuracy with 6 neighbours is 0.7541899441340782
Accuracy with 7 neighbours is 0.7541899441340782
Accuracy with 8 neighbours is 0.7541899441340782
Accuracy with 9 neighbours is 0.7541899441340782

Let's compare it's result with SimpleImputers result

In [15]:
from sklearn.impute import SimpleImputer

In [29]:
si =SimpleImputer()
x_train_si = si.fit_transform(x_train)
x_test_si = si.transform(x_test)

lr = LogisticRegression()
lr.fit(x_train_si,y_train)
y_pred = lr.predict(x_test_si)
print(accuracy_score(y_test,y_pred))

0.7374301675977654

In [30]:
x_train.isna().mean()*100

Pclass     0.000000
Age       19.662921
Fare       0.000000
dtype: float64

Some results in this notebook are misleading. Not found but my inner voice is saying that. It is by intution.